{{ if .Site.Params.banner.enable }}
{{ "<!-- Slider Section Start -->" | safeHTML }}
<section id="hero-area" style='background-image: url("{{ .Site.Params.banner.bgImage | absURL }}");'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block wow fadeInUp" data-wow-delay=".3s">
          {{ "<!-- Slider -->" | safeHTML}}
          <section class="cd-intro">
            <h1 class="wow fadeInUp animated cd-headline slide" id="top-message" data-wow-delay=".4s">
              We'll be 'CREW'<br>
              And support you who be a
              <br>
              <span class="cd-words-wrapper">
                {{ range $index, $element := .Site.Params.banner.flipText }}
                <b class="{{if eq $index 0}}is-visible{{end}}" style="white-space: normal;">{{.title}}</b>
                {{ end }}
              </span>
            </h1>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
{{ "<!-- Slider Section End -->" | safeHTML }}
{{ end }}