{{"<!-- Global Page Section Start -->" | safeHTML }}
<section class="global-page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="page-title" style='background-image: url("{{ .Site.BaseURL }}images/covers/contact_service_img.jpg"); background-position: center; opacity: .6;'>
        <div class="block">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
#page-title {
  padding: 100px;
  background-size: cover;
}
</style>
{{"<!-- Global Page Section End -->" | safeHTML }}