{{"<!-- Global Page Section Start -->" | safeHTML }}
<section class="global-page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="page-title" style='background-image: url("{{ .Site.BaseURL }}images/{{(index (readDir "/public/images/covers" | shuffle | first 1) 0).Name }}");'>
        <div class="block">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
#page-title {
  padding: 100px;
  background-size: 100%;
}
</style>
{{"<!-- Global Page Section End -->" | safeHTML }}