{{ define "main" }}

{{ partial "page-title.html" . }}

{{ if .Site.Data.contact.enable }}
{{ "<!-- Contact Section Start -->" | safeHTML }}
<section id="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-2 mb-5 mb-md-0"></div>
        <div class="col-md-8 mb-5 mb-md-0">
        <div class="block">
          {{ with .Site.Data.contact.contactFormTitle }}<h2 class="subtitle wow fadeInDown" data-wow-duration="500ms"
            data-wow-delay=".3s">{{ . }}</h2>{{ end }}
          {{ with .Site.Data.contact.contactFormSubtitle }}<p class="subtitle-des wow fadeInDown"
            data-wow-duration="500ms" data-wow-delay=".5s">{{ . }}</p>{{ end }}
          <div class="contact-form">
            <form method="POST" action="{{ .Site.Params.contactFormAction }}">

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".4s">
                <input type="text" placeholder="会社名・ショップ名" class="form-control" name="name" id="name">
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                <input type="text" placeholder="お名前" class="form-control" name="name" id="name">
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                <input type="email" placeholder="メールアドレス" class="form-control" name="email" id="email">
              </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                <select type="text" placeholder="ご相談の種類" class="form-control" name="subject" id="subject">
                  <option value="red">ご相談の種類</option>
                  <option value="red">webサイトの作成について</option>
                  <option value="blue">SNS運用代行について</option>
                  <option value="yellow">広告運用について</option> 
                  <option value="yellow">その他</option>
                  </select> 
                </div>

              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                <textarea rows="6" placeholder="ご相談内容" class="form-control" name="message" id="message"></textarea>
              </div>

              <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                <button type="submit" id="contact-submit" class="btn btn-default btn-send hvr-bounce-to-right"
                  value="Send Message"> 送 信 </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-2 mb-5 mb-md-0"></div>
    </div>
    <!-- <div class="row address-details">
      <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
          <i class="ion-ios-location-outline"></i>
          {{ with .Site.Data.contact.officeAddress1 }}<h5>{{ . }}</h5>{{ end }}
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
          <i class="ion-ios-location-outline"></i>
          {{ with .Site.Data.contact.officeAddress2 }}<h5>{{ . }}</h5>{{ end }}
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
          <i class="ion-ios-email-outline"></i>
          <p>{{ with .Site.Data.contact.mail1 }}{{ . }}{{ end }}
            <br>{{ with .Site.Data.contact.mail2 }}{{ . }}{{ end }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
          <i class="ion-ios-telephone-outline"></i>
          <p>{{ with .Site.Data.contact.phone1 }}{{ . }}{{ end }}
            <br>{{ with .Site.Data.contact.phone2 }}{{ . }}{{ end }}</p>
        </div>
      </div>
    </div> -->
  </div>
</section>
{{ "<!-- Contact Section End -->" | safeHTML }}
{{ end }}

{{ partial "cta.html" . }}

{{ end }}